html,
body {
  height: 100%;
}

body {
  background: #A1FFCE;
  background: -webkit-linear-gradient(to left, #A1FFCE, #FAFFD1);
  background: linear-gradient(to left, #A1FFCE, #FAFFD1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#intro {
  height: 40vh;
  width: 100%;
  position: relative;
}

#intro h1 {
  font-size: 6vmin;
}

#intro h3 {
  font-size: 4vmin;
}

a:link {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.centered {
  text-align: center;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#usage {
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
}

.content {
  background-color: white;
  border: 1px solid #eee;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 10vmin; 
}

@media (max-width: 1100px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .content {
    width: 90%;
  }
}

.content h3 {
  font-size: inherit;
  font-weight: bold;
}